### extra cleaning for split, dividents and sector

In [1]:
import yfinance as yf
import pandas as pd

# Define the ticker symbol for American Airlines Group Inc.
ticker_symbol = "AAL"

# Create a Ticker object
aal_ticker = yf.Ticker(ticker_symbol)

# Get dividend history
dividends = aal_ticker.dividends

# Get stock split history
splits = aal_ticker.splits

print(f"Dividend History for {ticker_symbol}:")
display(dividends)

print(f"\nStock Split History for {ticker_symbol}:")
display(splits)

Dividend History for AAL:

Date
2014-07-31 00:00:00-04:00    0.1
2014-10-30 00:00:00-04:00    0.1
2015-02-05 00:00:00-05:00    0.1
2015-04-30 00:00:00-04:00    0.1
2015-08-06 00:00:00-04:00    0.1
2015-11-03 00:00:00-05:00    0.1
2016-02-08 00:00:00-05:00    0.1
2016-05-02 00:00:00-04:00    0.1
2016-08-03 00:00:00-04:00    0.1
2016-11-03 00:00:00-04:00    0.1
2017-02-09 00:00:00-05:00    0.1
2017-05-12 00:00:00-04:00    0.1
2017-08-10 00:00:00-04:00    0.1
2017-11-10 00:00:00-05:00    0.1
2018-02-05 00:00:00-05:00    0.1
2018-05-07 00:00:00-04:00    0.1
2018-08-06 00:00:00-04:00    0.1
2018-11-05 00:00:00-05:00    0.1
2019-02-05 00:00:00-05:00    0.1
2019-05-07 00:00:00-04:00    0.1
2019-08-06 00:00:00-04:00    0.1
2019-11-05 00:00:00-05:00    0.1
2020-02-04 00:00:00-05:00    0.1
Name: Dividends, dtype: float64

Stock Split History for AAL:

Series([], Name: Stock Splits, dtype: float64)

In [3]:
import yfinance as yf

# Define the ticker symbol for American Airlines Group Inc. (assuming AAL based on previous context)
ticker_symbol = "AAL"

# Create a Ticker object
aal_ticker = yf.Ticker(ticker_symbol)

# Get company information
company_info = aal_ticker.info

# Display a brief history (business summary) if available
if 'longBusinessSummary' in company_info:
    print(f"Brief History/Business Summary for {ticker_symbol}:")
    print(company_info['longBusinessSummary'])
else:
    print(f"Business summary not available for {ticker_symbol} via yfinance.")

# You can explore other information available in the company_info dictionary
# display(company_info)

Brief History/Business Summary for AAL:
American Airlines Group Inc., through its subsidiaries, operates as a network air carrier in the United States, Latin America, Atlantic, and Pacific. The company provides scheduled air transportation services for passengers and cargo through its hubs in Charlotte, Chicago, Dallas/Fort Worth, Los Angeles, Miami, New York, Philadelphia, Phoenix, and Washington, D.C., as well as through partner gateways in London, Doha, Madrid, Seattle/Tacoma, Sydney, and Tokyo. It also operates a mainline fleet of 977 aircraft. The company was formerly known as AMR Corporation and changed its name to American Airlines Group Inc. in December 2013. American Airlines Group Inc. was founded in 1926 and is headquartered in Fort Worth, Texas.

In [4]:
# Assuming company_info was fetched in a previous cell (e.g., AKVCpSvS8n_Z)
if 'sector' in company_info and 'industry' in company_info:
    print(f"Sector for AAL: {company_info['sector']}")
    print(f"Industry for AAL: {company_info['industry']}")
elif 'sector' in company_info:
    print(f"Sector for AAL: {company_info['sector']}")
    print("Industry information not available.")
elif 'industry' in company_info:
    print(f"Industry for AAL: {company_info['industry']}")
    print("Sector information not available.")
else:
    print("Sector and Industry information not available for AAL.")

Sector for AAL: Industrials
Industry for AAL: Airlines